@import "tailwindcss";

:root {
  /* Standard: eher dark, passend zu deinem Design */
  --background: #020617; /* ähnlich slate-950 */
  --foreground: #e5e7eb; /* ähnlich slate-200 */
}

:root.theme-light {
  --background: #f9fafb; /* helles Grau */
  --foreground: #020617; /* sehr dunkles Grau */
}

:root.theme-dark {
  --background: #020617;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

