@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #020617; /* Tailwind slate-950 */
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
